## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

import sys 
sys.path.append('..')

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Luderitz,NaN,-26.6481,15.1594,58.87,60,99,3.76,overcast clouds
1,1,Hilo,US,19.7297,-155.0900,86.29,99,56,4.00,broken clouds
2,2,Qaanaaq,GL,77.4840,-69.3632,36.00,66,19,3.42,few clouds
3,3,College,US,64.8569,-147.8028,55.08,85,100,1.99,overcast clouds
4,4,Sawtell,AU,-30.3833,153.1000,74.19,56,29,11.50,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,19.7297,-155.0900,86.29,99,56,4.00,broken clouds
11,11,Lorengau,PG,-2.0226,147.2712,84.54,68,45,5.48,scattered clouds
15,15,Victoria,HK,22.2855,114.1577,88.25,84,89,11.99,overcast clouds
16,16,Nianzishan,CN,47.5167,122.8833,85.77,35,76,7.05,broken clouds
23,23,Poum,NC,-20.2333,164.0167,75.88,81,15,7.83,few clouds
27,27,Albany,US,42.6001,-73.9662,75.79,87,96,2.46,overcast clouds
28,28,Ribeira Grande,PT,38.5167,-28.7000,75.33,84,92,11.63,light rain
32,32,Faanui,PF,-16.4833,-151.7500,77.34,78,68,24.29,light rain
33,33,Atuona,PF,-9.8000,-139.0333,77.74,71,12,15.70,few clouds
35,35,Avarua,CK,-21.2078,-159.7750,75.25,69,75,13.80,broken clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                245
City                   245
Country                245
Lat                    245
Lng                    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
Current Description    245
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Hilo,US,19.7297,-155.0900,86.29,99,56,4.00,broken clouds
11,11,Lorengau,PG,-2.0226,147.2712,84.54,68,45,5.48,scattered clouds
15,15,Victoria,HK,22.2855,114.1577,88.25,84,89,11.99,overcast clouds
16,16,Nianzishan,CN,47.5167,122.8833,85.77,35,76,7.05,broken clouds
23,23,Poum,NC,-20.2333,164.0167,75.88,81,15,7.83,few clouds
...,...,...,...,...,...,...,...,...,...,...
686,686,Karachi,PK,24.9056,67.0822,84.02,84,75,5.75,smoke
693,693,Biak,ID,-0.9131,122.8766,75.51,85,100,2.77,overcast clouds
695,695,Cienfuegos,CU,22.1461,-80.4356,77.49,85,100,8.48,overcast clouds
696,696,Tam Ky,VN,15.5667,108.4833,89.33,57,100,4.00,overcast clouds
703,703,Zyryanovsk,KZ,49.7386,84.2719,76.96,35,1,2.64,clear sky

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,86.29,broken clouds,19.7297,-155.0900,
11,Lorengau,PG,84.54,scattered clouds,-2.0226,147.2712,
15,Victoria,HK,88.25,overcast clouds,22.2855,114.1577,
16,Nianzishan,CN,85.77,broken clouds,47.5167,122.8833,
23,Poum,NC,75.88,few clouds,-20.2333,164.0167,
27,Albany,US,75.79,overcast clouds,42.6001,-73.9662,
28,Ribeira Grande,PT,75.33,light rain,38.5167,-28.7000,
32,Faanui,PF,77.34,light rain,-16.4833,-151.7500,
33,Atuona,PF,77.74,few clouds,-9.8000,-139.0333,
35,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,

In [15]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"   
    # 6d. Set up the base URL for the Google Directions API to get JSON data.  
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Hilo,US,86.29,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
11,Lorengau,PG,84.54,scattered clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
15,Victoria,HK,88.25,overcast clouds,22.2855,114.1577,Mini Central
16,Nianzishan,CN,85.77,broken clouds,47.5167,122.8833,Jinhong Hotel
28,Ribeira Grande,PT,75.33,light rain,38.5167,-28.7000,Quinta da Meia Eira

In [18]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and max temp is {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))